    * {
    margin: 0;
    padding: 0; 
}
    
body {
    width: 100%;
    align-content: center;
    background-color: rgb(255, 255, 255);
    h1, h2, p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@import "main";
@import "header";